body {
    background-color: aquamarine;
}

.login-container {
    display: flex;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.login-container > section {
    border: 1px solid black;
}

.input{
    margin-bottom: 50px;
}
.register-nav:hover {
    color: red;
}

.login-container > section {
    padding: 50px;
    background-color: rgb(233, 168, 137);
    width: 16vw;
    border: 1px solid black;
    border-radius: 6px;
}

.login-container > section > label > input {
    height: 18px;
}